body{
	font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
	width: 900px;
	margin: 0px auto;
}

header{
	display:block;
	margin: 0 auto;
	font-weight:bold;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11px;
}

.button{
	background-color: blue;
	padding: 5px;
	color:white;

}
.left{
	display:block;
	float: left;
	margin: 10px;
}

.right{
	display:block;
	float:right;
	margin: 10px;
}

.middle{
	display:block;
	margin: 0 auto;
}

.title{
	display:block;
	margin 10px;
	width: 100%;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

span{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11px;
	margin-left: 5px;
	margin-right: 5px;
}

nav{
	text-align: center;
	width: 100%;
}

img{
	margin: 0px 10px;
}

h5{
	color:grey;
	margin: 1%;
}


.col1{
	width: 200px;
	height: 800px;
	float:left;
	margin-right:15px;
	padding-right: 10px;
	border-right: 1px solid grey;
}



.leftcol{
	display:block;
	width:550px;
	float:left;
	padding-left: 20px;
}

.rightcol{
	display:block;
	width: 270px;
	height: 800px;
	float:left;
	margin-left:15px;
	padding-left: 15px;
	border-left: 1px solid grey;
}

.ford{
	width:10%;
	padding-right: 35px;
	padding-left: 35px;
}

footer{
	clear left;
}

.footer1{
	display: inline;
	float:left;
	padding-top: 15px;
}

.footer2{
	float:right;
	padding-top: 0px;
}


div.little{
	font-size:6px;
}

figcaption{
	font-size: 10px;
}

.kitae{
	display:block;
	float:left;
}

.col2{
	display:block;
	width: 330px;
	margin: 10%;
}